.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--default-layout-width);
    max-width: 100%;
    margin-top: var(--default-layout-header-height);
    min-height: 130vh;
    display: flex;
}

.content {
    flex: 1;
}
