.menu-item {
    display: flex;
    align-items: center;
    padding: 8px 8px 8px 16px;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;
    color: var(--text);
    &.active {
        color: var(--primary);
        .active-icon {
            display: flex;
        }
        .icon {
            display: none;
        }
    }
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.active-icon {
    display: none;
}

.icon {
    display: flex;
}

.title {
    padding-left: 10px;
}
