// Menu
.menu-list {
    width: 224px;
    // Menu items
    .menu-item {
        margin-left: 0;
        width: 100%;
        font-weight: 600;
        line-height: 1.8rem;
        padding: 13px 16px;
        justify-content: flex-start;
        border-radius: 0;
        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }
        &.separate {
            border-top: 1px solid rgba(22, 24, 35, 0.12);
        }
    }
}
.menu-popper {
    padding-bottom: 8px;
}

// Header
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
}

.back-btn {
    width: 50px;
    height: 100%;
    background: transparent;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
}
