// Menu
.menu-list {
    width: 224px;
    // Menu items
    .menu-item {
        margin-left: 0;
        width: 100%;
        padding: 13px 16px;
        justify-content: flex-start;
        border-radius: 0;
        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }
    }
}
.menu-popper {
    padding-bottom: 8px;
}
