.wrapper {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 4px;
}
.info {
    flex: 1;
}
.name {
    font-size: 1.6rem;
    font-weight: 500;
}

.check {
    margin-left: 4px;
    color: rgb(32, 213, 236);
    font-size: 1.4rem;
}

.username {
    font-size: 1.4rem;
}
