$borderRadius: 92px;
$searchHeight: 46px;
$searchTopSpacer: 9px;
$searchButtonWidth: 52px;
.search,
.search-result {
    width: 361px;
}

.search {
    display: flex;
    align-items: center;
    background-color: rgba(22, 24, 35, 0.06);
    width: 361px;
    height: $searchHeight;
    border-radius: $borderRadius;
    padding-left: 16px;
    position: relative;
    border: 1.5px solid transparent;
    input {
        flex: 1;
        color: var(--black);
        font-size: 1.6rem;
        border: none;
        background-color: transparent;
        outline: none;
        padding: 12px 0;
        height: 100%;
        caret-color: var(--primary);
        font-family: var(--font-family);
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
    &::after {
        content: '';
        position: absolute;
        width: 1px;
        right: $searchButtonWidth;
        top: $searchTopSpacer;
        background: rgba(22, 24, 35, 0.12);
        height: calc($searchHeight - $searchTopSpacer * 2);
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.search-result {
    .search-title {
        font-weight: 600;
        color: rgba(22, 24, 35, 0.5);
        padding: 5px 12px;
        font-size: 1.4rem;
    }
}

.loading,
.clear {
    position: absolute;
    right: calc($searchButtonWidth + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.loading {
    animation: spinner 1s linear infinite;
}

.search-btn {
    width: $searchButtonWidth;
    height: 100%;
    border: none;
    border-top-right-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    font-size: 1.8rem;
    color: #a2a2a7;
    // transition: 0.2s linear all;

    &:active {
        background: rgba(22, 24, 35, 0.06);
    }
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
