$borderRadius: 92px;
$searchHeight: 46px;
$searchTopSpacer: 9px;
$searchButtonWidth: 52px;
.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
}

// Actions
.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    margin-left: 28px;
    font-size: 2rem;
    background: transparent;
    padding: 4px 8px;
    cursor: pointer;
}

.action-btn {
    background: transparent;
    font-size: 2.2rem;
    color: #161823;
    padding: 4px 12px;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 12px;
    cursor: pointer;
}
